@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Prompt:wght@200;300;400;500;600&family=Sacramento&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Libre Baskerville', serif;
}
body{
  background-color: rgb(234, 237, 237);
}
